  <div class="container"> 
    <form class="col-md-6 mx-auto">
      <div class="input-group mt-5">
        <input type="text" id="movieTitle" class="form-control"  placeholder="Search venue..." name="movieTitle" #name>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" (click)=search(name.value)> <i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    <div class="row mt-5">
      <div class="col-md-2 col-sm-3 list-set">
        <input class="form-control mt-5 guest" id="myInput" type="text" placeholder="Search City..">
        <br>
        <ul class="list-group text-center" id="myList">
          <li class="list-group-item">Ahmedabad</li>
          <li class="list-group-item">Bangalore</li>
          <li class="list-group-item">Chennai</li>
          <li class="list-group-item">Delhi</li>
          <li class="list-group-item">Ghaziabad</li>
          <li class="list-group-item">Hyderabad</li>
          <li class="list-group-item">Jaipur</li>
          <li class="list-group-item">Kolkata</li>
          <li class="list-group-item">Mumbai</li>
          <li class="list-group-item">Pune</li>
        </ul> 
        <ul class="list-group mt-5 text-center" id="typeList">
          <li class="list-group-item list-group-item-primary">Select by Type</li>
          <a class="list-group-item">Banquet Hall</a>
          <a class="list-group-item">Farm House</a>
          <a class="list-group-item">Party Lounge</a>
          <a class="list-group-item">Hotel</a>
        </ul>   
      </div>
      <div class="col-md-10 col-sm-9 mR15">
        <div class="container pb-4 mt-5">
          <div class="row">
            <div class="col-md-4 col-sm-6 mr-0 pr-0" *ngFor="let item of venue">
                <div class="card" >
                  <img class="img-fluid" [attr.src]="imageUrl+item.venue_image" alt="{{item.venueName}} image not found">
                  <div class="card-body">
                    <h6 class="card-title">{{item.venueName}}<span class="float-right bg-warning">{{item.venue_rating}}<i class="fa fa-star"></i></span></h6>
                    <p class="card-text"><i class="fas fa-map-marker-alt"></i>  {{item.location}}</p>
                    <p class="card-text">City: {{item.city}}</p>
                    <p class="card-text">Type: {{item.type}}<span class="float-right">Guests:</span></p>
                    <p class="card-text">Price/Plate: <i class="fas fa-rupee-sign"></i> {{item.price}}<span class="float-right guest"><i class="fa fa-users"></i>&nbsp;{{item.capacity}}</span></p>
                    <a href="#" class="btn btn-primary btn-sm fix-btn" data-toggle="modal" data-target="#exampleModalCenter">Enquiry</a>
                    <a href="#" class="btn btn-primary btn-sm fix-btn">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enquiry Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form> 
          <input class="form-control mb-3" type="text" name="name" placeholder="Enter your Name" >
          <input class="form-control mb-3" type="text" name="emailId" placeholder="Enter your EmailId">
          <input class="form-control mb-3" type="text" name="contactNo" placeholder="Enter your contactNo">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submitt</button>
      </div>
    </div>
  </div>
</div> 
<!-- Modal ends here -->