
<div class="fix-image">
  <img src="../../../assets/images/catering.png" class="d-block w-100" alt="background image not found">
</div>
<div class="container"> 
  <form class="col-md-6 mx-auto pt-3">
    <div class="input-group">
      <input type="text" id="movieTitle" class="form-control"  placeholder="Search venue..." name="movieTitle">
      <span class="input-group-btn">
        <button class="btn" type="submit">Search</button>
      </span>
    </div>
  </form>
  <div class="row mt-2">
    <div class="col-md-3 pl-0">
      <input class="form-control mt-5" id="myInput" type="text" placeholder="Search City..">
      <br>
      <ul class="list-group" id="myList">
        <li class="list-group-item">Ahmedabad</li>
        <li class="list-group-item">Bangalore</li>
        <li class="list-group-item">Chennai</li>
        <li class="list-group-item">Delhi</li>
        <li class="list-group-item">Ghaziabad</li>
        <li class="list-group-item">Hyderabad</li>
        <li class="list-group-item">Jaipur</li>
        <li class="list-group-item">Kolkata</li>
        <li class="list-group-item">Mumbai</li>
        <li class="list-group-item">Pune</li>
      </ul> 
      <ul class="list-group mt-5" id="myList">
        <li class="list-group-item list-group-item-primary">Select by Budget</li>
        <a class="list-group-item">under 3000</a>
        <a class="list-group-item">3000-5000</a>
        <a class="list-group-item">5000-10000</a>
        <a class="list-group-item"> >10000</a>
      </ul>   
    </div>
    <div class="col-md-9 pr-0">
      <div class="container pb-4 mt-5 pr-0">
          <div class="card" *ngFor="let item of cateringProvider">
             <div class="row">
            <div class="col-md-4 pr-0 my-auto mx-auto" >
              <img class="img-fluid my-auto" [attr.src]="imageUrl+item.image_path" alt="{{item.venueName}} image not found">
            </div>
            <div class="col-md-8 pr-0 mr-0">
              <div class="card-body">
                <h5 class="card-title">{{item.cateringProvider}}</h5>
                <p class="card-text text-muted"><i class="fas fa-map-marker-alt"></i> {{item.location}}, {{item.city}}</p>
               <h6 class="card-text">{{item.description}}</h6>
                <p class="card-text">Rating: {{item.rating}}<i class="fas fa-star text-primary"></i><span class="pl-5"><i class="fas fa-phone"></i></span>: {{item.contactNo}}</p>
                <p class="card-text">Starting Price: <i class="fas fa-rupee-sign text-success"></i> {{item.price}}</p>
                <a href="#" class="btn btn-primary btn-sm">Enquiry</a>
                <a href="#" class="btn btn-primary btn-sm">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


