
<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4"></h2>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <span class="anchor" id="formLogin"></span>
          <!-- form card login -->
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Sign Up</h3>
            </div>
            <div class="card-body">
              <form class="form" [formGroup]="form"  id="formLogin">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text"  class="form-control form-control-lg rounded-0" formControlName="userName" name="usernName"> 
                </div>
                <div class="text-danger">
                  <p *ngIf="form.get('userName').errors?.required && form.get('userName').touched">Please Enter your Name</p>
                  <p *ngIf="form.get('userName').errors?.minlength && form.get('userName').touched">Please Enter Name of atleast 3 digits</p>
                  <p *ngIf="form.get('userName').errors?.maxlength && form.get('userNameame').touched">Please Enter name of maximum 25 digits</p>
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="Email"  class="form-control form-control-lg rounded-0" formControlName="emailId" id="email">
                </div>
                <div class="text-danger">
                  <p *ngIf="form.get('emailId').errors?.required && form.get('userName').touched">Please Enter your Email</p>
                  <p *ngIf="form.get('emailId').errors?.pattern && form.get('emailId').touched">Please Enter your valid Email</p>
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control form-control-lg rounded-0" formControlName="password" id="pwd" >
                </div>
                <div class="text-danger">
                  <p *ngIf="form.get('password').errors?.required && form.get('password').touched">Please Enter your password</p>
                  <p *ngIf="form.get('password').errors?.minlength && form.get('password').touched">Please Enter password of atleast 6 digits</p>
                  <p *ngIf="form.get('password').errors?.maxlength && form.get('password').touched">Please Enter password of maximum 10 digits</p>
                </div>
                <div class="form-group">
                  <label>Confirm Password</label>
                  <input type="password"  class="form-control form-control-lg rounded-0" id="cpwd" name="confirmpassword" (keyup)="check(myInput.value)" #myInput>
                </div>
                <div><p *ngIf="checkPassword">Password and Confirm password did not match</p></div>
                <button type="button" class="btn btn-success btn-lg" [disabled]="form.invalid" (click)="onSubmit(form)">SignUp</button>
                <hr class="pt-2">
                <span>Already have an account!&nbsp;<a routerLink="/login">Login Here</a></span>
              </form>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->
        </div>
      </div>
      <!--/row-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
